{%  extends 'base.html.twig' %}
{% block title 'Voir tous nos biens' %}
{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam amet aperiam blanditiis consequuntur doloremque inventore quae reiciendis tempora vitae. Atque consequuntur facere facilis, iste iusto sit totam veniam vitae.</p>
    </div>

{% endblock %}